

body {
	background-color: #282828;
    font-family: Geneva, sans-serif;
    font-size: 18px;
    color: #E3E0D9;
	text-align:center;
}
a {
	text-decoration:none;
	color:inherit;
}

p {
    padding: 10px;
}

wrapper {
    margin: 0 auto;
    width: 1000px;
}

header {
    fixed: left;
    height: 50px;
    background-color: #282828;
	text-align:right;
}

h1 span {
	color:#F18230;
}
footer {
    height: 180px;
    background-color: #C7D6D9;
    fixed: left;
	font-family: Geneva, sans-serif;
    font-size: 13px;
    color: #282828;
	text-align:center;
}
table {
	text-align:center;
}

#bottomtable {
	width: 800px;
	margin: 0 auto;
}
.tablepad {
	text-align:center;
	padding:50px;
	font-size:18px;
}
.logo {
	margin-left: auto;
    margin-right: auto;
}
select {
	font-size:18px;
}
.hidden {
	visibility:hidden;
}
.visible {
	visibility:visible;
}
