#patternLeftBarContents{ 
font-size:100%;
padding: 0 0 0 0;
display: auto;
line-height:auto;
border: 0 0 0 0;
}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu ul, 
#patternLeftBarContents .twikiLeftBarPersonal #topMenu li 

#patternLeftBarContents .twikiLeftBarPersonal #topMenu {
width: 12em;
background: #eee;
}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu ul {
list-style: none;
margin: 0;
padding: 0;
}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu a, #patternLeftBarContents .twikiLeftBarPersonal #topMenu ul li {
font: bold 11px/16px arial, helvetica, sans-serif;
display: block;
border-width: 1px;
border-style: solid;
border-color: #ccc #888 #555 #bbb;
margin: 0;
padding: 2px 3px;
}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu ul li {
color: #fff;
background: #000;
text-transform: uppercase;
}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu a {
color: #000;
background: #efefef;
text-decoration: none;
}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu a:hover {
color: #a00;
background: #fff;
}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu li {position: relative;}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu ul ul ul {
position: absolute;
top: 0;
left: 100%;
width: 100%;
}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu ul ul ul,
#patternLeftBarContents .twikiLeftBarPersonal #topMenu ul ul li:hover ul ul
{display: none;}

#patternLeftBarContents .twikiLeftBarPersonal #topMenu ul ul li:hover ul,
#patternLeftBarContents .twikiLeftBarPersonal #topMenu ul ul ul li:hover ul
{display: block;}

