a.private, span.private a.twikiAnchorLink { font-size: smaller; font-weight: bold; font-style: italic }
li.info { list-style-image: url('https://twiki.grid.iu.edu/pub/TWiki/TWikiDocGraphics/info.gif') }
li.todo { list-style-image: url('https://twiki.grid.iu.edu/pub/TWiki/TWikiDocGraphics/todo.gif') }
li.done { list-style-image: url('https://twiki.grid.iu.edu/pub/TWiki/TWikiDocGraphics/done.gif') }
a.itemlink, span.itemlink a.twikiAnchorLink { font-size: smaller; font-weight: bold; font-style: italic; color: green}
