a.private, span.private { font-size: smaller; font-weight: bold; font-style: italic }
li.info { list-style-image: url('<img alt="info.gif" src="https://twiki.grid.iu.edu/pub/TWiki/TWikiDocGraphics/info.gif" />') }
li.todo { list-style-image: url('<img alt="todo.gif" src="https://twiki.grid.iu.edu/pub/TWiki/TWikiDocGraphics/todo.gif" />') }
li.done { list-style-image: url('<img alt="done.gif" src="https://twiki.grid.iu.edu/pub/TWiki/TWikiDocGraphics/done.gif" />') }
a.itemlink, span.itemlink { font-size: smaller; font-weight: bold; font-style: italic; color: green}
