a.private, span.privateText, span.private a.twikiAnchorLink { font-size: smaller; font-weight: bold; font-style: italic }
li { list-style-image: url('/pub/TWiki/TWikiDocGraphics/led-gray.gif') }
li.info:before { content: url('/pub/TWiki/TWikiDocGraphics/info.gif') }
li.todo:before { content: url('/pub/TWiki/TWikiDocGraphics/todo.gif') }
li.done:before { content: url('/pub/TWiki/TWikiDocGraphics/done.gif') }
li#CD { list-style-image: url('/pub/TWiki/TWikiDocGraphics/led-box-gray.gif') }
li#CD:before { content: '(CD) ' }
a.itemlink, span.itemlinkText, span.itemlink a.twikiAnchorLink { font-size: smaller; font-weight: bold; font-style: italic; color: green}
