  <groupMappings>

	<groupMapping name='ivdgl' accountingVo='ivdgl' accountingDesc='iVDgL'>
        <userGroup className='gov.bnl.gums.VOMSGroup'
		url='https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin'
                persistenceFactory='mysql' 
		name='ivdgl' 
		voGroup="/vos/ivdgl"
                sslCertfile='/etc/grid-security/http/httpcert.pem'
                sslKey='/etc/grid-security/http/httpkey.pem' 
		ignoreFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                groupName='ivdgl' />
      </groupMapping>

      <groupMapping name='osg' accountingVo='osg' accountingDesc='OSG'>
        <userGroup className='gov.bnl.gums.VOMSGroup'
		url='https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin'
                persistenceFactory='mysql' 
		name='osg' 
		voGroup="/vos/osg"
                sslCertfile='/etc/grid-security/http/httpcert.pem'
                sslKey='/etc/grid-security/http/httpkey.pem' 
		ignoreFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                groupName='osg' />
      </groupMapping>

      <groupMapping name='fmri' accountingVo='fmri' accountingDesc='FMRI'>
        <userGroup className='gov.bnl.gums.VOMSGroup'
		url='https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin'
                persistenceFactory='mysql' 
		name='fmri' 
		voGroup="/vos/fmri"
                sslCertfile='/etc/grid-security/http/httpcert.pem'
                sslKey='/etc/grid-security/http/httpkey.pem' 
		ignoreFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                groupName='fmri' />
      </groupMapping>

	<groupMapping name='cdf' accountingVo='cdf' accountingDesc='CDF'>
		<userGroup className='gov.bnl.gums.VOMSGroup'
			url='https://testbed008.cnaf.infn.it:8443/edg-voms-admin/cdf/services/VOMSAdmin'
			persistenceFactory='mysql'
			name='cdf'
			voGroup="/cdf"
			sslCertfile='/etc/grid-security/http/httpcert.pem'
			sslKey='/etc/grid-security/http/httpkey.pem'
			ignoreFQAN='true'/>
		<accountMapping className='gov.bnl.gums.GroupAccountMapper'
			groupName='cdf' />
	</groupMapping>

	<groupMapping name='des' accountingVo='des' accountingDesc='DES'>
		<userGroup className='gov.bnl.gums.VOMSGroup'
			url='https://voms.fnal.gov:8443/edg-voms-admin/des/services/VOMSAdmin'
			persistenceFactory='mysql'
			name='des'
			voGroup="/des"
			sslCertfile='/etc/grid-security/http/httpcert.pem'
			sslKey='/etc/grid-security/http/httpkey.pem'
			ignoreFQAN="false"/>
		<accountMapping className='gov.bnl.gums.GroupAccountMapper'
			groupName='des' />
	</groupMapping>

	<groupMapping name='dzero' accountingVo='dzero' accountingDesc='DZERO'>
		<userGroup className='gov.bnl.gums.VOMSGroup'
			url='https://voms.fnal.gov:8443/edg-voms-admin/dzero/services/VOMSAdmin'
			persistenceFactory='mysql'
			name='dzero'
			voGroup="/dzero"
			sslCertfile='/etc/grid-security/http/httpcert.pem'
			sslKey='/etc/grid-security/http/httpkey.pem'
			ignoreFQAN="false"/>
		<accountMapping className='gov.bnl.gums.GroupAccountMapper'
			groupName='dzero' />
	</groupMapping>

      <groupMapping name='fermilab' accountingVo='fermilab' accountingDesc='FERMILAB'>
        <userGroup className='gov.bnl.gums.VOMSGroup'
		url='https://voms.fnal.gov:8443/edg-voms-admin/fermilab/services/VOMSAdmin'
                persistenceFactory='mysql' 
		name='fermilab' 
		voGroup="/fermilab"
                sslCertfile='/etc/grid-security/http/httpcert.pem'
                sslKey='/etc/grid-security/http/httpkey.pem' 
		ignoreFQAN="false"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                groupName='fermilab' />
      </groupMapping>

      <groupMapping name='gadu' accountingVo='gadu' accountingDesc='GADU'>
        <userGroup className='gov.bnl.gums.VOMSGroup'
		url='https://cmsvo.fnal.gov:8443/edg-voms-admin/gadu/services/VOMSAdmin'
                persistenceFactory='mysql' 
		name='gadu' 
		voGroup="/gadu/grid3users"
                sslCertfile='/etc/grid-security/http/httpcert.pem'
                sslKey='/etc/grid-security/http/httpkey.pem' 
		ignoreFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                groupName='gadu' />
      </groupMapping>

      <groupMapping name='grase' accountingVo='grase' accountingDesc='GRASE'>
        <userGroup className='gov.bnl.gums.VOMSGroup'
		url='https://dylan.ccr.buffalo.edu:8443/edg-voms-admin/GRASE/services/VOMSAdmin'
                persistenceFactory='mysql' 
		name='grase' 
		voGroup="/GRASE/grid"
                sslCertfile='/etc/grid-security/http/httpcert.pem'
                sslKey='/etc/grid-security/http/httpkey.pem' 
		ignoreFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                groupName='grase' />
      </groupMapping>

      <groupMapping name='gridex' accountingVo='gridex' accountingDesc='GridEx'>
        <userGroup className='gov.bnl.gums.VOMSGroup'
		url='https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin'
                persistenceFactory='mysql' 
		name='gridex' 
		voGroup="/vos/gridex"
                sslCertfile='/etc/grid-security/http/httpcert.pem'
                sslKey='/etc/grid-security/http/httpkey.pem' 
		ignoreFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                groupName='gridex' />
      </groupMapping>

	<groupMapping name='sdss' accountingVo='sdss' accountingDesc='SDSS'>
		<userGroup className='gov.bnl.gums.VOMSGroup'
			url='https://voms.fnal.gov:8443/edg-voms-admin/sdss/services/VOMSAdmin'
			persistenceFactory='mysql'
			name='sdss'
			voGroup="/sdss"
			sslCertfile='/etc/grid-security/http/httpcert.pem'
			sslKey='/etc/grid-security/http/httpkey.pem'
			ignoreFQAN="false"/>
		<accountMapping className='gov.bnl.gums.GroupAccountMapper'
			groupName='sdss' />
	</groupMapping>

	<groupMapping name='uscms' accountingVo='uscms' accountingDesc='CMS'>
		<userGroup className='gov.bnl.gums.VOMSGroup'
			url='https://cmssrv17.fnal.gov:8443/edg-voms-admin/uscms/services/VOMSAdmin'
			persistenceFactory='mysql'
			name='uscms'
			voGroup="/uscms/gumstest"
			sslCertfile='/etc/grid-security/http/httpcert.pem'
			sslKey='/etc/grid-security/http/httpkey.pem'
			ignoreFQAN="true"/>
		<accountMapping className='gov.bnl.gums.GroupAccountMapper'
			groupName='uscms01' />
	</groupMapping>

	<groupMapping name='usatlas' accountingVo='usatlas' accountingDesc='ATLAS'>
		<userGroup className='gov.bnl.gums.VOMSGroup'
			url='https://cmssrv17.fnal.gov:8443/edg-voms-admin/uscms/services/VOMSAdmin'
			persistenceFactory='mysql'
			name='usatlas'
			voGroup="/atlas"
			sslCertfile='/etc/grid-security/http/httpcert.pem'
			sslKey='/etc/grid-security/http/httpkey.pem'
			ignoreFQAN="true"/>
		<accountMapping className='gov.bnl.gums.GroupAccountMapper'
			groupName='usatlas1' />
	</groupMapping>

  </groupMappings>

  <!-- host groups -->
  <hostGroups>
    <hostGroup 	className='gov.bnl.gums.WildcardHostGroup'  
		wildcard='*.fnal.gov,host' 
		groups='ivdgl,osg,fmri,cdf,des,dzero,fermilab,gadu,grase,gridex,sdss,uscms,usatlas' />
  </hostGroups>
