<?xml version="1.0" encoding="UTF-8"?>


<gums>
  <persistenceFactories>
    <persistenceFactory name='mysql'
        className='gov.bnl.gums.MySQLPersistenceFactory' jdbcDriver='com.mysql.jdbc.Driver'
        jdbcUrl='jdbc:mysql://t2data4.sdsc.edu/GUMS_1_0' user='gums' password='FVUUGDICOPU'
        autoReconnect='true' />
  </persistenceFactories>

  <adminUserGroup className='gov.bnl.gums.ManualUserGroup' persistenceFactory='mysql' name='admins' />


 <groupMappings>

   <!-- VOMS Proxy mapping for USCMS Users -->
   <groupMapping name='cmsVOMuser' accountingVo='uscms' accountingDesc='CMS'>
     <userGroup className='gov.bnl.gums.VOMSGroup'
          url='https://cmssrv17.fnal.gov:8443/edg-voms-admin/uscms/services/VOMSAdmin'
          persistenceFactory='mysql'
          name='cmsuser'
          voGroup='/uscms'
          voRole='cmsuser'
          ignoreFQAN="false"
          sslCertfile='/etc/grid-security/http/httpcert.pem'
          sslKey='/etc/grid-security/http/httpkey.pem'
     />
     <accountMapping className='gov.bnl.gums.AccountPoolMapper'
          persistenceFactory='mysql'
          name='uscmsPool' />
   </groupMapping>


  <!-- CMS Tier2 Admin Mapping: For Testing -->
  <groupMapping name='cmst2admin' accountingVo='uscms' accountingDesc='CMS'>
     <userGroup className='gov.bnl.gums.VOMSGroup'
          url='https://cmssrv17.fnal.gov:8443/edg-voms-admin/uscms/services/VOMSAdmin'
          persistenceFactory='mysql'
          name='cmst2admin'
          voGroup='/uscms'
	  voRole='cmst2admin'
          ignoreFQAN="false"
          sslCertfile='/etc/grid-security/http/httpcert.pem'
          sslKey='/etc/grid-security/http/httpkey.pem'
     />
   <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='cmst2admin' />
   </groupMapping>

  <!-- CMS Phedex Admin Mapping -->
  <groupMapping name='cmsphedex' accountingVo='uscms' accountingDesc='CMS'>
     <userGroup className='gov.bnl.gums.VOMSGroup'
          url='https://cmssrv17.fnal.gov:8443/edg-voms-admin/uscms/services/VOMSAdmin'
          persistenceFactory='mysql'
          name='cmsphedex'
          voGroup='/uscms'
          voRole='cmsphedex'
          ignoreFQAN="false"
          sslCertfile='/etc/grid-security/http/httpcert.pem'
          sslKey='/etc/grid-security/http/httpkey.pem'
     />
   <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='cmsphedex' />
   </groupMapping>

  <!-- CMS Software Admin Mapping -->
  <groupMapping name='cmssoft' accountingVo='uscms' accountingDesc='CMS'>
     <userGroup className='gov.bnl.gums.VOMSGroup'
          url='https://cmssrv17.fnal.gov:8443/edg-voms-admin/uscms/services/VOMSAdmin'
          persistenceFactory='mysql'
          name='cmssoft'
          voGroup='/uscms'
          voRole='cmssoft'
          ignoreFQAN="false"
          sslCertfile='/etc/grid-security/http/httpcert.pem'
          sslKey='/etc/grid-security/http/httpkey.pem'
     />
   <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='cmssoft' />
   </groupMapping>

  <!-- CMS Production User Mapping -->
  <groupMapping name='cmsprod' accountingVo='uscms' accountingDesc='CMS'>
     <userGroup className='gov.bnl.gums.VOMSGroup'
          url='https://cmssrv17.fnal.gov:8443/edg-voms-admin/uscms/services/VOMSAdmin'
          persistenceFactory='mysql'
          name='cmsprod'
          voGroup='/uscms'
          voRole='cmsprod'
          ignoreFQAN="false"
          sslCertfile='/etc/grid-security/http/httpcert.pem'
          sslKey='/etc/grid-security/http/httpkey.pem'
     />
   <accountMapping className='gov.bnl.gums.GroupAccountMapper' groupName='cmsprod' />
   </groupMapping>

   <!-- Grid Proxy mapping for USCMS Users -->
   <groupMapping name='cmsGRIDuser' accountingVo='uscms' accountingDesc='CMS'>
     <userGroup className='gov.bnl.gums.VOMSGroup'
          url='https://cmssrv17.fnal.gov:8443/edg-voms-admin/uscms/services/VOMSAdmin'
          persistenceFactory='mysql'
          name='cmsuser'
          voGroup='/uscms'
          voRole='cmsuser'
          ignoreFQAN="true"
          sslCertfile='/etc/grid-security/http/httpcert.pem'
          sslKey='/etc/grid-security/http/httpkey.pem'
     />
     <accountMapping className='gov.bnl.gums.AccountPoolMapper'
          persistenceFactory='mysql'
          name='uscmsPool' />
   </groupMapping>

	
      <groupMapping name='ivdgl' accountingVo='ivdgl' accountingDesc='iVDgL'>
        <userGroup className='gov.bnl.gums.VOMSGroup' url='https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin'
                 persistenceFactory='mysql' 
                 name='ivdgl' 
                 voGroup="/vos/services"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' 
                 ignoreFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                      groupName='ivdgl' />
      </groupMapping>

      <groupMapping name='osg' accountingVo='osg' accountingDesc='OSG'>
        <userGroup className='gov.bnl.gums.VOMSGroup' url='https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin'
                 persistenceFactory='mysql' 
                 name='osg' 
                 voGroup="/vos/osg"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' 
                 ignoreFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper'  
           groupName='osg' />
      </groupMapping>

      <groupMapping name='fmri' accountingVo='fmri' accountingDesc='FMRI'>
        <userGroup className='gov.bnl.gums.VOMSGroup' url='https://grid03.uits.indiana.edu:8443/edg-voms-admin/vos/services/VOMSAdmin'
                 persistenceFactory='mysql' 
                 name='fmri' 
                 voGroup="/vos/fmri"
                 sslCertfile='/etc/grid-security/http/httpcert.pem'
                 sslKey='/etc/grid-security/http/httpkey.pem' 
                 ignoreFQAN="true"/>
       <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
         groupName='fmri' />
      </groupMapping>

      <groupMapping name='usatlas' accountingVo='usatlas' 
                accountingDesc='ATLAS'>
        <userGroup className='gov.bnl.gums.VOMSGroup' url='https://vo.racf.bnl.gov:8443/edg-voms-admin/atlas/services/VOMSAdmin'
                persistenceFactory='mysql'
                name='usatlas' 
                voGroup="/atlas" 
                sslCertfile='/etc/grid-security/http/httpcert.pem'
                sslKey='/etc/grid-security/http/httpkey.pem' 
                ignoreFQAN="true"/>
        <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                      groupName='usatlas1' />
      </groupMapping>

      <groupMapping name='cdf' accountingVo='cdf' accountingDesc='CDF'>
         <userGroup className='gov.bnl.gums.VOMSGroup' url='https://testbed008.cnaf.infn.it:8443/edg-voms-admin/cdf/services/VOMSAdmin'
               persistenceFactory='mysql' 
               name='cdf' voGroup="/cdf" 
               sslCertfile='/etc/grid-security/http/httpcert.pem'
               sslKey='/etc/grid-security/http/httpkey.pem' 
               ignoreFQAN="true"/>
        <accountMapping className='gov.bnl.gums.GroupAccountMapper' 
                      groupName='cdf' />
      </groupMapping>
      
      <groupMapping name='grase' accountingVo='grase' accountingDesc='GRASE'>
         <userGroup className='gov.bnl.gums.VOMSGroup' url='https://dylan.ccr.buffalo.edu:8443/edg-voms-admin/GRASE/services/VOMSAdmin'
              persistenceFactory='mysql' 
              name='grase' 
              voGroup="/GRASE/grid"
              sslCertfile='/etc/grid-security/http/httpcert.pem'
              sslKey='/etc/grid-security/http/httpkey.pem' 
              ignoreFQAN="true"/>
      <accountMapping className='gov.bnl.gums.GroupAccountMapper'
              groupName='grase' />    
      </groupMapping>

 </groupMappings>


 <hostGroups>
    <hostGroup className='gov.bnl.gums.WildcardHostGroup' wildcard='*,*.*,*.*.*,*.*.*.*' groups='cmsVOMuser,cmst2admin,cmsphedex,cmsprod,cmssoft,cdf,ivdgl,usatlas,grase,fmri,osg,cmsGRIDuser' />
  </hostGroups>


</gums>