.command
{
    font-family: courier;
    font-size: 12px;
    background-color: #BAD4FF;
    border: thin solid #02007F;
    padding: 3pt;
    width: auto;
}
.ex1-command
{
    font-family: courier;
    font-size: 12px;
    background-color: #99FFCC;
    border: thin solid #02007F;
    padding: 3pt;
    width: auto;
}
.ex2-command
{
    font-family: courier;
    font-size: 12px;
    background-color: #FFFF99;
    border: thin solid #02007F;
    padding: 3pt;
    width: auto;
}
