dl.faq {
	}
	
.faq dt {
	min-height: 50px;
	font-family: Arial, Helvetica, Sans Serif;
	font-weight: bold;
	font-size: 130%;
	color: #aa0000;
	padding-left: 40px;
	background-color: transparent;
	background-image: url(/pub/Documentation/OsgFaq/faq_q.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: .6em;
	margin-top: 1em;
	}
	
.faq dd {
	min-height: 50px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 40px;
	background-color: transparent;
	background-image: url(/pub/Documentation/OsgFaq/faq_a.gif);
	background-repeat: no-repeat;
	background-position: left top;
	}