body { 
    background: #FFFFFF;
}

h1, h2, h3, h4, h5 { 
#    color: #800000; 
    font-family: sans-serif; 
}

p,ul,ol,li,div,td,th,address,nobr,b,i { font-size:12pt; }

.replaceable { color: #009000; }

span.term { 
    font-weight: bold; 
}

div.sidebar { 
    background: #F0E0E0; 
    border: 1px solid gray; 
    padding: 5px; 
    margin: 20px; 
}

div.toc { 
#    background: #E0E0E0; 
    border: 1px solid gray; 
    padding: 5px; 
    margin: 20px; 
}

pre.programlisting { 
    background: #F0E0E0; 
    border: 1px solid gray; 
    padding: 2px; 
    font-size: 12pt;
    white-space: pre;
}

pre.screen { 
    background: #E0F0E0; 
    border: 1px solid gray; 
    padding: 2px; 
    font-size: 12pt;
    white-space: pre;
}

.inlineeq { 
    background: #E0E0F0; 
    font-weight: bold;
#    font-size: 14pt;
}

.inlineequation { 
    background: #E0E0F0; 
    font-weight: bold;
#    font-size: 14pt;
}

div.equation { 
    background: #E0E0F0; 
    border: 1px solid gray; 
    padding: 10px;
    padding-left: 30px;
    font-weight: bold;
#    font-size: 14pt;
}

div.informalequation { 
  background: #E0E0F0; 
  border: 1px solid gray; 
  padding: 2px;
  padding-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
#  font-size: 14pt;
}

div.informalequation p,td {
#  border: none;
#  background: none;
#  padding: 0px;
#  padding-right: 10px;
  margin: 0px;
#  font-weight: bold;
 }

div.example p.title{ 
    background: #FFFFFF; 
    border: none; 
    padding: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14pt;
}

div.example p{ 
    background: #F4F4F4; 
    border: 1px solid gray; 
    padding: 6px;
#    padding-left: 30px;
    margin-top: 5px;
#    font-weight: bold;
#    font-size: 14pt;
}

div.informalexample p.title{ 
    background: #FFFFFF; 
    border: none; 
    padding: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14pt;
}

div.informalexamplebody{ 
    background: #F4F4F4; 
    border: 1px solid gray; 
    padding: 6px;
#    padding-left: 30px;
    margin-top: 5px;
#    font-weight: bold;
#    font-size: 14pt;
}

div.glosslist dt { 
    font-weight: bold;
    color: #FF874B;
}

.command { 
    font-weight: bold;
    color: #900000;
}

.cellattributes table { 
  background: #FFFFFF;
  border: 0;
 }

.cellattributes td { 
  background: #EEEEEE;
  border: 0;
 }

.cellattributes th { 
  background: #DDDDDD;
  border: 0;
 }

.celloptions table { 
  background: #FFFFFF;
  border: 0;
 }

.celloptions td { 
  background: #EEEEEE;
  border: 0;
 }

.celloptions th { 
  background: #DDDDDD;
  border: 0;
 }

.celloptreq td{ 
  background: #EEAAAA;
 }

.table .title { 
  padding-bottom: 0px;
  margin-bottom:0px;
 }

.table table { 
  background: #FFFFFF;
  border: solid 1px #888888;
  padding-top: 0px;
 }

.table td { 
  background: #EEEEEE;
  border: 0;
 }

.table th { 
  background: #DDDDDD;
  border: 0;
 }

code.filename { 
  font-weight: bold;
 }

.firstline td{ 
  background: #EEAAAA;
 }
