body.patternViewPage #patternScreen #patternPageShadow {
    background-color: rgb(255,69,0);
    color: rgb(0,0,0);
}

div.topnotch {
    background-color: rgb(0,0,128);
    color: rgb(255,255,180);
}


replaceable, .replaceable { 
	font-style: italic;
}

userinput, .userinput { 
	color: #0000FF; 
}

span.term { 
    font-weight: bold; 
}

.in {
    color:#0000FF; 
}

.out {
    color:#006600;
}

pre.programlisting { 
    background: #F0E0E0; 
    border: 1px solid gray; 
    padding: 2px; 
    white-space: pre;
}

pre.screen { 
    background: #E0F0E0; 
    border: 1px solid gray; 
    padding-right: 2px; 
    padding-left: 2px;
    padding-top: .5em;
    padding-bottom: .5em;
    white-space: pre;
}


div.example p.title{ 
    background: #FFFFFF; 
    border: none; 
    padding: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14pt;
}

div.example p{ 
    background: #F4F4F4; 
    border: 1px solid gray; 
    padding: 6px;
#    padding-left: 30px;
    margin-top: 5px;
#    font-weight: bold;
#    font-size: 14pt;
}

div.informalexample p.title{ 
    background: #FFFFFF; 
    border: none; 
    padding: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14pt;
}

div.informalexamplebody{ 
    background: #F4F4F4; 
    border: 1px solid gray; 
    padding: 6px;
#    padding-left: 30px;
    margin-top: 5px;
#    font-weight: bold;
#    font-size: 14pt;
}

div.glosslist dt { 
    font-weight: bold;
    color: #FF874B;
}

.command { 
    font-weight: bold;
    color: #900000;
}

.cellattributes table { 
  background: #FFFFFF;
  border: 0;
 }

.cellattributes td { 
  background: #EEEEEE;
  border: 0;
 }

.cellattributes th { 
  background: #DDDDDD;
  border: 0;
 }

.celloptions table { 
  background: #FFFFFF;
  border: 0;
 }

.celloptions td { 
  background: #EEEEEE;
  border: 0;
 }

.celloptions th { 
  background: #DDDDDD;
  border: 0;
 }

.celloptreq td{ 
  background: #EEAAAA;
 }


code.filename { 
  font-weight: bold;
 }

.patternTopic div.topnotch h1 {
  font-family: Lucida Sans Typewriter, Verdana, Helvetica, Sans Serif;
  font-size: 2em;
  color: rgb(255,0,0);
  padding-top: 2em;
  padding-bottom: 1em;
}

.patternTopic div.topnotch h2 {
  font-family: Lucida Sans Typewriter, Verdana, Helvetica, Sans Serif;
  font-size: 1.5em;
  color: rgb(255,0,0);
  padding-top: 1.5em;
  padding-bottom: 1em;
}
