d113 47
/* #### NAVIGATION FOR FORREST'S LISTS */


#navcontainer  {
	/* container div set-up */
	border: 1px solid black;
	background: #FFA500;
	width: 100%;
	padding: .4em;
	/* font-size: 16px; */
	/* Set font-size so theres no default */
	line-height: 22px;
	/* Set line-height because I think it looks better like this ;^) */
	letter-spacing: .075em;
	/* Set letter-spacing so text don't jump as much when it turns bold on hover */
}



#navcontainer a {
	/* Set text-decoration and color so there is no default */
	text-decoration: none;
	color: #000000;
}

#navcontainer a.twikilink {
	/* Set text-decoration and color so there is no default */
	text-decoration: none;
	color: #000000;
}
#navcontainer a:hover {
	font-weight: bold;
	letter-spacing: 0;
	/* Set letter-spacing back to 0 so text don't jump as much when it turns to bold on hover (Still jumps some though) */
}

#navcontainer a.twikilink:hover {
	font-weight: bold;
	letter-spacing: 0;
	/* Set letter-spacing back to 0 so text don't jump as much when it turns to bold on hover (Still jumps some though) */
}

#navcontainer ul {
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
}

#navcontainer ul ul.subnavlist {
	padding-left: 8px;
	/* offset sub menu */
	color: #000000;
}

#navcontainer ul li	{
	padding-left: 5px;
	margin-left: 2px;
	/* Set margin-left to set-up the left border */
	background-image: none;
	color: rgb(0,0,0);
}

#navcontainer a.twikilink:link {
	color: #000000;
}

#navcontainer a.twikilink:visited {
	color: #000000;
}

#navcontainer ul li.active {
	margin-left: 0px;
	/* Set margin back half of left-border width (5px) */
	background-image: none;
}

#navcontainer ul ul li.subactive {
	margin-left: 0px;
	/* Set margin back half the 30px padding above */
	border-left: 5px solid black;
	background-image: none;
}

#navcontainer li { 
	border-left: 1px solid black;
 	background-image: none;
	color: #000000;
}
#navcontainer li.active { 
	border-left: 5px solid black; 
	background-image: none;
}

#current {
	font-weight: bold;
	letter-spacing: 0;
	border-bottom: 1px dashed black;
}

#subcurrent {
	font-weight: bold;
	letter-spacing: 0;
	border-bottom: 1px dashed black;
}

#patternLeftBarContents .patternLeftBarPersonal li {
	background-image: none;
	background-repeat: no-repeat;
	background-x-position: 0pt;
	background-y-position: 0.5em;
	padding-left: 2px;
	color: #000000;
}

body {
	margin: 0;
	padding: 0;
	background: white;
	font: 80% verdana, arial, sans-serif;
}
dl, dt, dd, ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#vertDropMenu {
	position: absolute; /* Menu position that can be changed at will */
	top: 0;
	left: 0;
}
#vertDropMenu {
	width: 15em;
}
#vertDropMenu dt {
	cursor: pointer;
	margin: 2px 0;;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	border: 1px solid gray;
	background: #ccc;
}
#vertDropMenu dd {
	border: 1px solid gray;
}
#vertDropMenu li {
	text-align: center;
	background: #fff;
}
#vertDropMenu li a, #vertDropMenu dt a {
	color: #000;
	text-decoration: none;
	display: block;
	border: 0 none;
	height: 100%;
}
#vertDropMenu li a:hover, #vertDropMenu dt a:hover {
	background: #eee;
}
