#patternTopBar,
#patternOuter,
#patternBottomBar {
	background-color: #FFF; 
	border-color: #CCC;
}
#patternMain {
	
}
#patternLeftBar {
	
}
#patternLeftBarContents {
	
}
#patternWrapper {
	background-color: #f6fafd
}
#patternBottomBarContents {
	color: #8E9195
}
#patternBottomBarContents a:link {
	color: #8E9195
}
#patternBottomBarContents a:visited {
	color: #8E9195;
}
html body {
	color: #000; 
	background-color: #FFF;
}
body, p, ul, li, ol, dl, dt, dd, acronym, h1, h2, h3,
h4, h5, h6 {
	background-color: transparent;
}
hr {
	color: #CCC; 
	background-color: #CCC;
}
pre, 
code,
tt {
	color: #7A4707;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
}
h1 a:link,
h1 a:visited {
	color: #A00;
}
h1 a:hover {
	color: #FDCB25;
}
h2 {
	background-color: #fdfaf1; 
	border-color: #E2DCC8
}
h3, h4, h5, h6 {
	border-color: #E9E4D2; 
}
.twikiNewLink font {
	
}
twikiNewLink a:link sup,
.twikiNewLink a:visited sup {
	color: #666; 
}

.twikiNewLink a:link sup,
.twikiNewLink a:visited sup,
.twikiNewLink {
	border-color: #DDD; 
}
.twikiNewLink a:hover SUP {
	border-color: #D6000F; 
	color: #FDCB25;
}
a:link:unknown,
a:visited:unknown {
	color: #06c; 
	background-color: transparent;
}
a:link {
	color: #E07630; 
	background-color: transparent;
}
a:visited {
	color: #666666; 
	background-color: transparent;
}
a:active {
	color: #E07630; 
	background-color: transparent;
}
a:hover {
	color: #FDCB25; 
	background-color: transparent;
}
:hover img {
	background: #FFF;
}
.patternTopic a:visited {
	color: #666;
}
.patternTopic a:hover {
	color: #FDCB25;
}
TEXTAREA, 
textarea,
INPUT,
input,
SELECT,
select {
	border-color: #AAA; 
}
.twikiSubmit, .twikiButton  {
	border-left-color: #DDD; 
	border-bottom-color: #AAA; 
	border-top-color: #DDD; 
	border-right-color: #AAA;
	color: #333; 
	background-color: #FFF; 
}
.twikiSubmit:active, .twikiButton:active  {
	border-left-color: #999; 
	border-bottom-color: #CCC; 
	color: #000; 
	border-top-color: #999; 
	border-right-color: #CCC;
}
.twikiSubmitDisabled {
	border-left-color: #DDD; 
	border-bottom-color: #DDD; 
	color: #CCC; 
	border-top-color: #DDD; 
	background-color: #f5f5f5; 
	border-right-color: #DDD;
}
.twikiSubmitDisabled:active {
	border-color: #DDD; 
	color: #CCC; 
	background-color: #f5f5f5; 
}
.twikiInputField, .twikiSelect {
	border-left-color: #AAA; 
	border-bottom-color: #DDD; 
	color: #000; 
	border-top-color: #AAA; 
	background-color: #FFF; 
	border-right-color: #DDD;
}
.twikiInputFieldDisabled {
	color: #666;
}
.twikiTable, .twikiTable td, .twikiTable th {
	border-color: #CCC;
}
.twikiTable th a:link,
.twikiTable th a:visited,
.twikiTable th a font {
	color: #E07630;
}
.twikiTable th a:hover, 
.twikiTable th a:hover font  {
	border-color: #D6000F; 
	color: #D6000F;
	background-color: transparent;
}
.patternTopic th.twikiSortedAscendingCol,
.patternTopic th.twikiSortedDescendingCol {
	background-color: #CCC;
}
th.twikiSortedAscendingCol a:link,
th.twikiSortedAscendingCol a:link font, 
th.twikiSortedAscendingCol a:visited,
th.twikiSortedAscendingCol a:visited font,
th.twikiSortedDescendingCol a:link,
th.twikiSortedDescendingCol a:link font,
th.twikiSortedDescendingCol a:visited,
th.twikiSortedDescendingCol a:visited font {
	border-color: #666;
}
th.twikiSortedAscendingCol a:hover,
th.twikiSortedAscendingCol a:hover font, 
th.twikiSortedDescendingCol a:hover,
th.twikiSortedDescendingCol a:hover font {
	border-color: #D6000F;
}
.twistyPlaceholder {
	color: #8E9195
}
a.twistyTrigger:hover {
	color: #FDCB25;
}
.tipsOfTheDay {
	background-color: #ecf4fb;
}
.patternTopic .tipsOfTheDayHeader {
	color: #333;
}
#patternLeftBar .tipsOfTheDay a:link,
#patternLeftBar .tipsOfTheDay a:visited {
	color: #A00;
}
#patternLeftBar .tipsOfTheDay a:hover {
	color: #FDCB25;
}
.revComment .patternTopicAction {
	background-color: #fdfbf4;
}
.twikiGrayText,
.twikiGrayText a:link,
.twikiGrayText a:visited {
	color: #8E9195;
}
.twikiGrayText a:hover {
	color: #FDCB25;
}
table.twikiFormTable th.twikiFormTableHRow, 
table.twikiFormTable td.twikiFormTableRow {
	color: #666;
}
.twikiEditForm {
	color: #000;
}
.twikiEditForm .twikiFormTable th,
.twikiEditForm .twikiFormTable td {
	border-color: #DDD;
}
.twikiEditForm .twikiFormTable td {
	background-color: #f6f8fc;
}
.twikiEditForm .twikiFormTable th {
	background-color: #ecf4fb;
}
.patternContent .twikiAttachments {
	border-left-color: #E2DCC8; 
	border-bottom-color: #E2DCC8; 
	border-top-color: #E2DCC8; 
	background-color: #fefbf3; 
	border-right-color: #E2DCC8;
}
.patternContent .twikiForm {
	border-left-color: #E2DCC8; 
	border-bottom-color: #E2DCC8; 
	border-top-color: #E2DCC8; 
	background-color: #fefbf3; 
	border-right-color: #E2DCC8;
}
.twikiAttachments table,
table.twikiFormTable {
	border-color: #CCC; 
	background-color: #FFF;
}
.twikiAttachments table {
	background-color: #FFF
}
.twikiAttachments td {
	border-left-color: #CCC; border-bottom-color: #CCC; border-top-color: #CCC; border-right-color: #CCC
}
.twikiAttachments th {
	border-left-color: #CCC; border-bottom-color: #CCC; border-top-color: #CCC; border-right-color: #CCC
}
.twikiAttachments th {
	background-color: #FFF
}
.twikiAttachments td {
	background-color: #FFF
}
.twikiAttachments th a:link,
.twikiAttachments th a:visited,
table.twikiFormTable th.twikiFormTableHRow a:link,
table.twikiFormTable th.twikiFormTableHRow a:visited,
.twikiAttachments th font,
table.twikiFormTable th.twikiFormTableHRow font {
	color: #06c
}
.twikiAttachments th a:hover,
table.twikiFormTable th.twikiFormTableHRow a:hover {
	border-left-color: #06c; 
	background-color: transparent;
}
.twikiAttachments th.twikiSortedAscendingCol, 
.twikiAttachments th.twikiSortedDescendingCol {
	background-color: #efefef;
}
.twikiFormSteps {
	border-color: #E2DCC8;
	background-color: #f6fafd;
}
.twikiFormStep {
	border-color: #E2DCC8;
}
.twikiFormStep h3,
.twikiFormStep H4 {
	background-color: transparent;
}
.twikiToc .twikiTocTitle {
	color: #666
}
.twikiBroadcastMessage {
	background-color: yellow
}
.twikiBroadcastMessage b,
.twikiAlert code,
.twikiBroadcastMessage strong,
.twikiAlert {
	color: #f00;
}
.twikiEmulatedLink {
	color: #06c
}
.twikiPageForm table {
	border-color: #DDD; 
	background: #FFF; 
}
.twikiPageForm HR {
	border-color: #efefef;
	background-color: #efefef; 
	color: #efefef;
}
.twikiHelp {
	border-color: #d5e6f3; 
	background-color: #ecf4fb;
}
.twikiAccessKey {
	border-color: #8E9195; 
}
a:link .twikiAccessKey {
	
}
a:visited .twikiAccessKey {
	
}
a:hover .twikiAccessKey {
	
}
#patternPage {
	background-color: #FFF;
}
#patternLeftBarContents {
	color: #666;
}
#patternLeftBarContents .patternWebIndicator,
#patternLeftBarContents .patternWebIndicator a:link,
#patternLeftBarContents .patternWebIndicator a:visited, {
	color: #000;
}
#patternLeftBarContents .patternWebIndicator a:hover {
	color: #FDCB25
}
#patternLeftBarContents HR {
	color: #E2DCC8; background-color: #a8a8a8
}
#patternLeftBarContents a:link, 
#patternLeftBarContents a:visited {
	color: #E07630;
}
#patternLeftBarContents a:hover {
	color: #FDCB25;
}
#patternLeftBarContents b,
#patternLeftBarContents strong {
	color: #333;
}
#patternLeftBarContents .patternChangeLanguage {
	color: #8E9195;
}
#patternLeftBarContents .patternLeftBarPersonal {
	border-color: #d9eaf6;
}
#patternLeftBarContents .patternLeftBarPersonal a:link,
#patternLeftBarContents .patternLeftBarPersonal a:visited {
	color: #06c;
}
#patternLeftBarContents .patternLeftBarPersonal a:hover {
	color: #FDCB25; 
	background-color: #D6000F;
}
.patternSeparator {
	font-family: monospace;
}
.patternTopicActions {
	border-color: #E2DCC8;
}
.patternTopicAction {
	border-color: #E2DCC8; 
	color: #666; 
	background-color: #FDCB25; 
}
.patternTopicAction .twikiSeparator {
	color: #AAA;
}
.patternActionButtons a:link {
	color: #D6000F;
}
.patternActionButtons a:visited {
	color: #D6000F;
}
.patternActionButtons a:hover {
	color: #FDCB25;
}
.patternTopicAction .twikiAccessKey {
	border-color: #c75305; 
}
.patternTopicAction label {
	color: #000;
}
.patternHelpCol {
	color: #8E9195
}
.patternFormFieldDefaultColor {
	color: #8E9195
}
.patternToolBar .patternButton s,
.patternToolBar .patternButton strike,
.patternToolBar .patternButton a:link,
.patternToolBar .patternButton a:visited {
	border-color: #E2DCC8; 
}
.patternToolBar .patternButton strike,
.patternToolBar .patternButton a:link,
.patternToolBar .patternButton a:visited {
	background-color: #FFF; 
}
.patternToolBar .patternButton a:link,
.patternToolBar .patternButton a:visited {
	color: #666;
}
.patternToolBar .patternButton s,
.patternToolBar .patternButton strike {
	border-color: #E0E0E0; 
	color: #CCC; 
	background-color: #FFF;
}
.patternToolBar .patternButton a:hover {
	border-color: #D6000F; 
	color: #FDCB25; 
	background-color: #D6000F;
}
.patternToolBar .patternButton IMG {
	background-color: transparent;
}
.patternToolBarBottom {
	border-color: #E2DCC8; 
}
.patternToolBar a:link .twikiAccessKey,
.patternToolBar a:visited .twikiAccessKey {
	border-color: #666; 
}
.patternToolBar a:hover .twikiAccessKey {
	background-color: transparent;
}
.patternRevInfo, 
.patternRevInfo a:link,
.patternRevInfo a:visited,
.patternMoved,
.patternMoved a:link,
.patternMoved a:visited,
table#twikiSearchTable th {
	color: #8E9195;
}
.patternRevInfo a:hover,
.patternMoved a:hover {
	color: #FDCB25;
}
.patternSaveHelp,
table#twikiSearchTable th, 
table#twikiSearchTable td {
	background-color: #FFF
}

table#twikiSearchTable th,
table#twikiSearchTable td {
	border-color: #DDD; 
}
table#twikiSearchTable td.first {
	background-color: #efefef;
}
h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader {
	border-color: #CCC;  
	background-color: #fefbf3; 
}
h4.patternSearchResultsHeader {
	color: #000;
}
.patternNoViewPage h4.patternSearchResultsHeader {
	color: #A00;
}
.patternSearchResult .twikiBottomRow {
	border-color: #DDD;
}
.patternSearchResult .twikiAlert {
	color: #f00;
}
.patternSearchResult .twikiSummary .twikiAlert {
	color: #900;
}
.patternSearchResult .twikiNew {
	color: #049804; 
	border-color: #049804; 
	background-color: #ecfadc;
}
.patternViewPage .patternSearchResultsBegin,
.patternBookView .twikiBottomRow {
	border-color: #DDD;
}
.patternBookView .twikiTopRow {
	color: #666;
	background-color: transparent;
}
.patternBookView .patternSearchResultCount {
	color: #8E9195
}
table.patternDiffOptions IMG {
	border-color: #CCC;
}
.patternEditPage TEXTAREA#topic {
	background-color: #FFF
}
.twikiChangeFormButton .twikiButton,
.twikiChangeFormButtonHolder .twikiButton {
	background: none transparent scroll repeat 0% 0%; 
	color: #06c
}
.patternSig input {
	color: #8E9195; 
	background-color: #FFF;
}
.patternPreviewArea {
	background-color: #FFF; 
	border-color: #f00;
}
.patternDiff,
.patternDiff h4.patternSearchResultsHeader {
	border-color: #CCC;
}
tr.twikiDiffDebug td {
	border-color: #DDD
}
.patternDiffPage .twikiDiffTable th {
	background-color: #eee;
}
tr.twikiDiffDebug .twikiDiffChangedText, 
	background: #99ff99;
}
tr.twikiDiffDebug .twikiDiffDeletedMarker, 
tr.twikiDiffDebug .twikiDiffDeletedText {
	background-color: #f99;
}
tr.twikiDiffDebug .twikiDiffAddedMarker, 
tr.twikiDiffDebug .twikiDiffAddedText {
	background-color: #ccf;
}
tr.twikiDiffDebug .twikiDiffUnchangedText {
	color: #8E9195;
}
.twikiDiffChangedHeader,
.twikiDiffDeletedHeader,
.twikiDiffAddedHeader {
	background-color: #CCC
}
.twikiDiffUnchangedTextContents {
	
}
.twikiDiffLineNumberHeader {
	background-color: #eee
}
